.Rproj.user
.Rhistory
.RData
.Ruserdata
Calibration_EtaModel.Rproj
Dados_Observados
Wind_Speed_10m1
Wind_Speed_10m2
velvento10m
Wind_Speed_10m/Modelos_nao_utilizados
Wind_Speed_10m/Graficos_Resultados/Graficos_Analisedescritiva+mapascompletos.R
Wind_Speed_10m/Graficos_Resultados/Graficos_Resultados+previsoes.R
Wind_Speed_10m/Graficos_Resultados/Graficos_Resultados+previsoes2.R
Wind_Speed_10m/Graficos_Resultados/GraficosCSV_rEQM-EAM-Will-Diarios.R
Wind_Speed_10m/Graficos_Resultados/GraficosCSV_rEQM-EAM-Will-Horarios.R
Wind_Speed_10m/Aplicacao/Resultados
Wind_Speed_10m/Aplicacao/Resultados_pre_e_nao_utilizados
Wind_Speed_10m/Aplicacao/.Rhistory
prec
temp2m
umidrel
Coordenadas_MG/ID_zeta_10_Eta15km_MG_2015101112_2017100903.csv
Coordenadas_MG/L_class_Eta15km_MG_2015101112_2017100903.csv
Coordenadas_MG/z0_mes_Eta15km_MG_2015101112_2017100903.csv
Wind_Speed_100mCE/velvento100m_Eta5km_CE_20170929_20171231
Wind_Speed_100mCE/dados_parajuru
Wind_Speed_100mCE/Graficos_Resultados
Wind_Speed_10m02/Graficos_Resultados
Wind_Speed_10m02/.Rhistory
Wind_Speed_10m02/Aplicacao/.Rhistory
Wind_Speed_10m02/Aplicacao/Resultados
Precip/Aplicacao/.Rhistory
