.Rproj.user
.Rhistory
.RData
.Ruserdata
Calibration_EtaModel.Rproj
Dados_Observados
Wind_Speed_10m1
Wind_Speed_10m2
velvento10m
Wind_Speed_10m/Modelos_nao_utilizados
Wind_Speed_10m/Graficos_Resultados/Graficos_Analisedescritiva+mapascompletos.R
Wind_Speed_10m/Graficos_Resultados/Graficos_Resultados+previsoes.R
Wind_Speed_10m/Graficos_Resultados/Graficos_Resultados+previsoes2.R
Wind_Speed_10m/Graficos_Resultados/GraficosCSV_rEQM-EAM-Will-Diarios.R
Wind_Speed_10m/Graficos_Resultados/GraficosCSV_rEQM-EAM-Will-Horarios.R
